---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import Prices from '~/components/widgets/Pricing.astro';
import ContactUs from '~/components/widgets/Contact.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import Features from '~/components/widgets/Features.astro';
import { getPermalink } from '~/utils/permalinks';
import Steps2 from '~/components/widgets/Steps2.astro';
import AppFeature from '~/components/widgets/AppFeature.astro';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Sk8 - Learn how to Skateboard',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        
        { text: 'Features', href: '#' },
        { text: 'Pricing', href: '#' },
        { text: 'About', href: '#' },
        { text: 'Blog', href: '#' },
        { text: 'Contact', href: '#' },
      ]}
      actions={[
        {
          text: 'Download',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    image={{

      // ~/assets/images/my-skate-plan.png
      src: '~/assets/images/Mockups.png',
      alt: 'AstroWind Hero Image',
      style: "object-fit: contain"
    }}
  >

  

    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Sk8</span>: Capture & Share Your Skateboarding<span
        class="hidden xl:inline"></span
      >
    </Fragment>

    <!-- <Fragment slot="subtitle">
      Record and log your skating, share it with the wider community, compete with the rest of the world for the dopest trick.
    </Fragment> -->


    <Fragment slot="subtitle">
      An app for capturing and watching skateboarding. Add to your skateboarding diary, share it with the world when your ready, and start competing for the dopest trick.
    </Fragment>

    <Fragment slot="email">
      <form>
        <input
        type="text"
        name="email"
        id="email"
        placeholder="Be the first to know when Sk8 is available"
        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
      />
      </form>
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
 
      <Button variant="link" href="#download">
      <Image src={appStoreImg} alt="App Store Image" width={200} />
      
      </Button>

      <Button variant="link" href="#download">
      <Image src={googlePlayImg} alt="App Store Image" width={200} />
    </Button>
    </div>
  </Hero2>


  

  <AppFeature
  id="diary"
  title="Skate Diary"
  isReversed
  subtitle="Capture and log your skateboarding journey in your skateboarding diary. Share key moments of your diary with the wider community. Sk8 will only allow you to log to your diary via recording in the app."
  image={{
    src: '~/assets/images/Diary Mockup.png',
    alt: 'Tech Design Image',
  }}
  callToAction={{
    target: '_blank',
    text: 'Go to the project',
    icon: 'tabler:chevron-right',
    href: '#',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Project 1: <br /><span class="text-2xl">Clips</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</AppFeature>

<AppFeature
  id="diary"
  title="Leaderboard"
  
  subtitle="View the best tricks of the week, see who is getting the most stoke of all time, and compete with the wider sk8 community for first place."
  image={{
    src: '~/assets/images/Leaderboard Mockup.png',
    alt: 'Tech Design Image',
  }}
  callToAction={{
    target: '_blank',
    text: 'Go to the project',
    icon: 'tabler:chevron-right',
    href: '#',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Project 1: <br /><span class="text-2xl">Clips</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</AppFeature>

<AppFeature
    id="clips"
    title="Clips"
    subtitle="Catch up on Skateboarding and view an entire plethora of diverse tricks from a global network of Skateboarders. Give some stoke, and engage with the skateboarding community like never before."
    isReversed
    image={{
      src: '~/assets/images/Reels Mockup.png',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Clips</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </AppFeature>




  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="How does it work?"
    subtitle="Sk8 is an app that allows you to log and share your skateboarding, as well as to compete with the wider community for the best tricks."
    columns={2}
    items={[
      {
        title: 'Install the app',
        description: `Begin your journey by downloading sk8 from the iOS / Google Play store.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Practice & Record',
        description: 'Record your skateboarding to add to your diary, and optionally share it with the wider community. Sk8 only allows capture via recording in the app itself.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Check The Leaderboard',
        description:
          'Check who is getting the most stoke in the sk8 network and try and compete with them.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Catch Up With The Latest Skateboarding',
        description:
          'View other peoples tricks, give some stoke, and engage with the skateboarding community like never before.',
          icon: 'tabler:square-number-4',
      }, 

    ]}

  />

  <!--     image={{
      src: '~/assets/images/hero-banner-app.jpg',
      alt: 'Colorful Image',
    }} -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    items={[
      {
        title: 'Skate Plan',
        description:
          'An intuitive training plan to learn skateboarding which is customised around your level and objectives.',
        icon: 'tabler:skateboarding',
      },
      {
        title: 'Skate Journal',
        description:
          'Sk8 automatically adds your recorded tricks into a skate journal for insights into your skating and reminders to keep going.',
        icon: 'tabler:notes',
      },
      {
        title: 'Skate Clips',
        description:
          'Check out the latest tricks that people are trying and give feedback to help skaters out.',
        icon: 'tabler:camera',
      },
      {
        title: 'Skate Feedback',
        description: 'Receive personalised feedback on your trick attempts to help you improve on your skateboarding journey.',
        icon: 'tabler:message',
      },
    ]}
    image={{
      src: '~/assets/images/features-skate-image.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content> -->




<!-- 
  <Prices
  title="Pro Plan"
  subtitle="For those who need it, back up your sk8 diary to the cloud, cancel anytime"
  prices={[
    {
      title: 'Free',
      subtitle: 'Regular usage of the app',
      price: 0.00,
      period: 'forever',
      items: [
      {
          description: 'Clips',
        },
        {
          description: 'Skate Diary',
        },
        {
          description: 'Leaderboard',
        }
      ],
      callToAction: {
        target: '_blank',
        text: 'Get started',
        href: '#',
      },
    },
    {
      title: 'paid',
      subtitle: 'cloud backup for your diary',
      price: 1.99,
      period: 'Per Month',
      items: [
      {
          description: 'Clips',
        },
        {
          description: 'Skate Diary',
        },
        {
          description: 'Leaderboard',
        },
        {
          description: 'Full cloud Backup for your Skate Diary',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Get started',
        href: '#',
      },
      hasRibbon: false,
      ribbonTitle: 'popular',
    },
    {
      title: 'paid',
      subtitle: 'cloud backup for your diary',
      price: 14.99,
      period: 'Per Year',
      items: [
      {
          description: 'Clips',
        },
        {
          description: 'Skate Diary',
        },
        {
          description: 'Leaderboard',
        },
        {
          description: 'Full cloud Backup for your Skate Diary',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Get started',
        href: '#',
      },
      hasRibbon: true,
      ribbonTitle: 'popular',
    },
  ]}
/> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics of our app"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <!-- <Testimonials
    title="What our users say?"
    testimonials={[
      {
        testimonial: `It's made learning skateboarding a breeze. The interface is intuitive, and after only 2 days I got my first ollie. It's an app that truly empowers skateboarders.`,
        name: 'Cary Kennedy',
        job: '',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `After unsuccessfully trying to learn how to kickflip for over a year with regular videos, the app helped me to understand what I was doing wrong, and after just 2 weeks and I was able to land it and progress.`,
        name: 'Josh Wilkinson',
        job: '',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I tried a bunch of apps and even skate schools before, but nothing gives the level of detailed feedback into your tricks as I experienced with this app. Truly remarkable and I love the pose detection feature when you are doing simpler tricks.',
        name: 'Sidney Hansen',
        job: '',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more reviews',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Still have some doubts?"
    items={[
      {
        title: 'What does this app do?',
        description:
          'Sk8 is an app that helps you learn and improve your skateboarding. It does this through a guided training plan, tracking your tricks, and providing you with feedback.',
      },
      {
        title: 'How can this app solve my problem?',
        description:
          'This app streamlines the process of learning to skateboard, saving you time and money in achieving the tricks that you might previously had found difficult.',
      },
      {
        title: 'Is it available for my device?',
        description: `Sk8 is only available for iOS, this is due to some of the augmented reality features that we use not being available on the Android platform.`,
      },
      {
        title: 'What makes this app different from others?',
        description:
          'Our app stands out for its practice focused approach and trick identification, seamlessly integrating these into a skate plan and journal, to provide you with better insights and feedback to improve your skateboarding.',
      },
      {
        title: 'Are there any costs involved?',
        description:
          'While the app itself contains a free plan, there is also a monthly paid plan which contains most of the features that will be beneficial to skateboarders who are starting out or improving.',
      },
    ]}
  /> -->

  <ContactUs
  id="download"
  title="Get Notified When Sk8 is available!"
  subtitle="We are still working on Sk8, leave us your details and we will notify you once its ready."
  button="Register Interest"
  inputs={[
    {
      type: 'text',
      name: 'name',
      label: 'Name',
    },
    {
      type: 'email',
      name: 'email',
      label: 'Email',
    },
  ]}
/>

<Steps2
title="Reach out to us"
subtitle="Have questions? Feel free to contact us using the form below."
callToAction={{
  text: 'Get Notified',
  href: '/',
}}
items={[
  {
    title: 'Email us',
    description: 'contact@support.com',
    icon: 'tabler:mail',
  },
  {
    title: 'Social Media',
    description: 'Instagram / TikTok',
    icon: 'tabler:headset',
  },
]}
/>

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    id="download"
    title="Download Sk8 Now!"
    subtitle="Subscribe and download today to be part of the sk8 network."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>
    </div>
  </CallToAction> -->
</Layout>
